/*Font appliquée à toutes la page*/
*{
	font-family: 'Montserrat', sans-serif;
}

/*Changement de la couleur du background*/
html, body{
	background-color: #e0e2e4 !important;
}

/*Changement de la couleur de la navbar*/
.navBar{
	background-color: #494949;

}

/*Titre de la navBar*/
.titreNavBar{
	color: #c6bcb6;
	padding: 2.5% 0%;
	font-size: 5em;
	text-align: center;
	box-shadow: 0px 0px 50px black;
}

/*Titre de la liste de course*/
.listeTitre{
	background-color: #96897f;
	padding: 3% 0%;
	text-align: center;
	font-size: 3em;
	border-radius: 30px;
	box-shadow: 10px 10px  #625750;
}

/*Div dans laquelle se trouve le titre de la liste et la liste*/
.liste{
	margin: 4% 30% 10% 30%;

}

/*Div dans laquelle se trouve les noms des élements et la liste de course*/
.laListe{
	background-color: #c6bcb6;
	border-radius: 30px;
	padding: 5% 5% 5% 5%;
	box-shadow: 10px 10px #96897f;
}

/*Nom des différentes colonnes*/
.nomElement{
	text-align: center;
	display: flex;
  	justify-content: center;
}

/*Element nom dans la première colonne*/
.elementNom{
	padding: 0% 32% 0% 5%;
}

/*Element quantité dans la première colonne*/
.elementQte{
	padding: 0% 2%;
}

/*Element prix dans la première colonne*/
.elementPrix{
	padding: 0% 5%;
}

/*classe du li permettant de mettre à l'horizontal les différents span et input*/
.list{
	display: flex;
  	flex-wrap: wrap;
  	width: 100%;
}

/*Numéro d'un élement de la liste*/
.numListe{
	padding-right: 2%;
	font-size: 2em;
	vertical-align: center;
	text-align: center;
	margin: 0;
}

/*Toutes les cases de la liste*/
.produit{

}

/*Nom d'un élement de la liste*/
.nom{
	width: 50%;
}

/*Quantité d'un élement de la liste*/
.quantite{
	width: 20%;
}

/*Prix d'un élement de la liste*/
.prix{
	width: 20%;
}

/*Prix total de la liste*/
.prixTotal{
	width: 20%;
}

/*Input où on entre le produit*/
.inputProduit{
	font-size: 1.2em;
	padding: 1%;
	width: 50%;
	border-radius: 30px;
	border-style: none;
	background-color: #e0e2e4;
	box-shadow: 4px 4px 10px #494949;

}

/*Bouton valider pour mettre un nouveau produit*/
.boutonValider{
	font-size: 1.7em;
	border-radius: 30px;
	border-style: none;
	background-color: #96897f;
	box-shadow: 4px 4px #494949;
}